ncats_dir,/home/cyakaboski/src/python/projects/bkb-pathway-provider
fused_bkb_path,/home/public/data/ncats/AxleBKBS/AxleDemoBKB3-14-20/fusion.bkb
src_metadata_path,/home/public/data/ncats/AxleBKBS/AxleDemoBKB3-14-20/patient_data.pk
gene_var_direct,/home/public/data/ncats/AxleBKBS/AxleDemoBKB3-14-20/geneFreqAnal.csv
