tumor_rna_expression_file,/home/public/data/ncats/data_drop_02-11-2020/rnaseq_fpkm_uq_primary_tumor.csv
normal_rna_expression_file,/home/public/data/ncats/data_drop_02-11-2020/rnaseq_fpkm_uq_solid_tissue_normal.csv
clinical_data_file,/home/public/data/ncats/data_drop_03-04-2020/clinical.csv
drug_data_file,/home/public/data/ncats/data_drop_03-13-2020/drug.csv
radiation_data_file,/home/public/data/ncats/data_drop_02-11-2020/radiation.csv
mutation_data_file,/home/public/data/ncats/data_drop_03-04-2020/wxs.csv
pathway_file,/home/public/data/ncats/data_drop_02-11-2020/pathways_analysis.csv
reactome_g2r_file,/home/public/data/ncats/reactome/r2g_names_k1.csv
reactome_p2p_file,/home/public/data/ncats/reactome/p2p_k1.csv
working_dir,/home/ghyde/bkb-pathway-provider/core/test/
patient_holdout,/home/public/data/ncats/data_drop_03-04-2020/holdOutPatients.csv
cpp_fuse_option,False
